{% extends 'layout.html' %} {% block main %}
<div class="container my-5">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Escolha a Resolução do Vídeo</h1>
      <p class="lead">{{title}}</p>

      <div
        class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
        style="max-width: 490px"

      >
        {% csrf_token %}
        <input type="hidden" name="url" value="{{url}}" />
        <select
          name="resolution"
          type="button"
          style="min-height: 48px; min-width: 200px"
          class="w-80 border-1 bg-light rounded-3 px-4 me-md-2 pl-4"
          id="select"
        >
          {%for stream in streams%}
          <option value="{{stream.url}}">{{stream.resolution}} - {{stream.megabytes}}Mb</option>
          {%endfor%}
        </select>
        <a href="#" target="_blank"  id="download_link">
          <button type="submit" id="download" class="btn w-100 btn-primary btn-lg px-4">
            <svg viewBox="25 25 50 50" id="loading-circle" class="d-none">
              <circle r="20" cy="50" cx="50"></circle>
            </svg>
            <span> Baixar </span>
          </button>
        </a>
    </div>
    <small id="wait" class="d-none">Espere um momento, em breve uma janela será aberta, por ela faça o download...</small>
</div>
    <div
      class="rounded-5 col-lg-4 mb-5 offset-lg-1 p-0 overflow-hidden shadow-lg"
    >
      <img
        class="rounded-lg-3 rounded-5"
        style="cursor: pointer; max-height: 310px; object-fit: cover"
        src="{{thumbnail}}"
        alt=""
        width="560"
        loading="lazy"
      />
    </div>
  </div>
</div>
<script>
  document.getElementById("download_link").href = document.getElementById("select").value
    document.getElementById("download").addEventListener("click", ()=>{
        document.getElementById("loading-circle").classList.remove("d-none")
        document.getElementById("wait").classList.remove("d-none")
        setTimeout(() => document.getElementById("download").setAttribute("disabled", "true"), 200);
        window.location.replace("downloaded/")
    })
    document.getElementById("select").addEventListener("input",(e)=>{
      const url = e.target.value
      document.getElementById("download_link").href = url
    })

</script>
{% endblock %}
