{% extends 'layout.html' %}
{% block main %}
  <h1 class="text-center">Obrigado Pela Preferência!!</h1>
  <p class="text-center">Uma nova janela será aberta, faça o download por lá!!</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/video">
      <button style="width: 100%" type="button" class="btn btn-primary btn-lg px-4 gap-3">Baixar Vídeo</button>
    </a>
    <a href="/mp3">
      <button style="width: 100%" type="button" class="btn btn-outline-secondary btn-lg px-4">Baixar em MP3</button>
    </a>
  </div>
  
</main>
{% endblock %}

