{% extends 'layout.html' %}
{% block main %}
    <h1 class="visually-hidden">You Tube Downloader</h1>
    
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Error</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
            Houve um erro durante o Download
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Voltar a página principal</button>
            </a>
            </div>
        </div>
        </div>
  {% endblock %}