{% extends 'layout.html' %}
{% block main %}
<h1 class="visually-hidden">You Tube Downloader</h1>
      
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Baixe Vídeos do Youtube Aqui!</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Primeiro escolha a opção que deseja baixar!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/video">
                    <button style="width: 100%" type="button" class="btn btn-primary btn-lg px-4 gap-3">Baixar em Vídeo</button>
                </a>
                <a href="/mp3">
                    <button style="width: 100%" type="button" class="btn btn-outline-secondary btn-lg px-4">Baixar MP3</button>
                </a>
            </div>
          </div>
        </div>
      
        <div class="b-example-divider"></div>

{% endblock %}
