{% extends 'layout.html' %}
{% block main %}
      <h1 class="visually-hidden">MP3 Downloader</h1>

      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Baixe Vídeos no Youtube em MP3!</h1>
        <form method="POST" class="col-lg-6 mx-auto">
          <p class="lead mb-4 mt-4">
            <input
              type="text"
              class="text-center form-control rounded-3 pt-2 pb-2"
              id="floatingInput"
              placeholder="Insira o link..."
              class="fieldBox w-100"
              required
            />
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="submit" id="submitBtn" class="btn btn-primary btn-lg px-4">
              Baixar MP3
            </button>
          </div>
        </form>
      </div>

      <div class="b-example-divider"></div>
      <script>
        document.getElementById("floatingInput").addEventListener("input",(e)=>{
          if(e.target.value.slice(0,32)==="https://www.youtube.com/watch?v="){
            document.getElementById("submitBtn").removeAttribute("disabled")
          } else{
            document.getElementById("submitBtn").setAttribute("disabled", "true")
          }
        })
      </script>
{% endblock %}